<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">SevWeb 2.0</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <router-link to="/admin" class="nav-link">Главная</router-link>
                </li>
                <li class="nav-item active">
                    <router-link to="/admin/projects" class="nav-link" href="#">Проекты</router-link>
                </li>
                <!--<li class="nav-item active">-->
                    <!--<router-link to="/admin/technologies" class="nav-link" href="#">Технологии</router-link>-->
                <!--</li>-->
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item">
                    <router-link to="/" class="nav-link">Перейти на сайт</router-link>
                </li>
                <li class="nav-item">
                    <a data-toggle="modal" data-target="#logoutModal" class="nav-link">Выйти</a>
                </li>
            </ul>
        </div>
        <ConfirmDialog id="logoutModal" title="Выйти?" @ok="$auth.logout()" />
    </nav>
</template>

<script>
    import ConfirmDialog from './ConfirmDialog.vue'

    export default {
        name: "Header",
        components: {
            ConfirmDialog
        }
    }
</script>

<style lang="scss" scoped>
    .bg-dark {
        background-color: #232629 !important;
    }

    nav {
        padding: 0 20px;
        margin-bottom: 20px;

        li {
            &:hover {
                background-color: #272727;
            }
            a {
                text-transform: uppercase;
                color: #8c8c8c !important;;
                &:hover {
                    color: #f3f3f3 !important;
                }
            }
        }
    }
</style>