<template>
    <section id="education">
        <h2 class="section-title">
            <span>
                Образование
            </span>
        </h2>
        <div class="row">
            <div v-for="item in items" :key="item.id" class="col-sm-6">
                <div class="education-item">
                    <a class="education-item-title">
                        {{ item.name }}
                    </a>
                    <div class="education-item-info">
                        <div class="row">
                            <div class="col-sm-3">
                                Университет:
                            </div>
                            <div class="col-sm-9">
                                <a :href="item.website" class="link" target="_blank">
                                    {{ item.university }}
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                Период:
                            </div>
                            <div class="col-sm-9">
                                {{ item.period }}
                            </div>
                        </div>
                        <div v-if="item.program" class="row">
                            <div class="col-sm-3">
                                Направление подготовки:
                            </div>
                            <div class="col-sm-9">
                                {{ item.program }}
                            </div>
                        </div>
                        <div v-if="item.subprogram" class="row">
                            <div class="col-sm-3">
                                Образовательная программа:
                            </div>
                            <div class="col-sm-9">
                                {{ item.subprogram }}
                            </div>
                        </div>
                        <a :href="item.website" target="_blank">
                            <img :src="`/images/experience/${item.image}`">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "Education",
        data() {
            return {
                items: [
                    {
                        name: "Высшее (аспирантура)",
                        university: "Санкт-Петербургский Государственный Электротехнический Университет \"ЛЭТИ\"",
                        website: "https://etu.ru/",
                        period: "2020 – н.в.",
                        image: "etu2.png"
                    },
                    {
                        name: "Высшее (магистратура)",
                        university: "Санкт-Петербургский Государственный Электротехнический Университет \"ЛЭТИ\"",
                        website: "https://etu.ru/",
                        period: "2018 – 2020",
                        program: "Информатика и вычислительная техника",
                        subprogram: "Автоматизированное проектирование в электронике и машиностроении",
                        image: "etu2.png"
                    },
                    {
                        name: "Высшее (бакалавриат)",
                        university: "Санкт-Петербургский Государственный Электротехнический Университет \"ЛЭТИ\"",
                        website: "https://etu.ru/",
                        period: "2014 – 2018",
                        program: "Информатика и вычислительная техника",
                        subprogram: "Системы автоматизированного проектирования",
                        image: "etu2.png"
                    }
                ]
            }
        }
    }
</script>

<style lang="scss" scoped>
    .education-item {
        margin-bottom: 20px;

        &-title {
            text-transform: uppercase;
            font-size: 1.2em;
            color: #332f2f;
            font-weight: 700;
        }
        &-info {
            margin-top: 10px;
            font-size: 1.05em;
            > div {
                margin-bottom: 5px;
            }
        }
    }
    img {
        margin-top: 10px;
        max-height: 60px;
    }
</style>