<template>
    <section id="experience">
        <h2 class="section-title">
            <span>
                Опыт
            </span>
        </h2>
        <div class="row">
            <div v-for="item in items" :key="item.id" class="col-sm-6">
                <div class="experience-item">
                    <a :href="item.website" target="_blank" class="experience-item-title">
                        {{ item.name }}
                    </a>
                    <div class="experience-item-info">
                        <div class="row">
                            <div class="col-sm-3">
                                Период:
                            </div>
                            <div class="col-sm-9">
                                {{ item.period }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                Позиция:
                            </div>
                            <div class="col-sm-9">
                                {{ item.position }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                Языки:
                            </div>
                            <div class="col-sm-9">
                                {{ item.languages }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                Стек технологий:
                            </div>
                            <div class="col-sm-9">
                                {{ item.technologies }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                Область:
                            </div>
                            <div class="col-sm-9">
                                {{ item.area }}
                            </div>
                        </div>
                        <a :href="item.website" target="_blank">
                            <img :src="`/images/experience/${item.image}`">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "Experience",
        data() {
            return {
                items: [
                    {
                        name: "Институт Географических Информационных Технологий",
                        website: "http://gosinfotech.ru/about/spisok-dzo/igit",
                        period: "июнь 2018 – н.в.",
                        position: "web developer (full-stack)",
                        languages: "C#, TypeScript, JavaScript",
                        technologies: "ASP.NET, React.js/Redux, Vue.js/Vuex",
                        area: "Геоинформационные системы, корпоративные приложения",
                        image: "igit.jpg"
                    },
                    {
                        name: "PQLab Web Studio",
                        website: "https://pqlab.ru/",
                        period: "январь 2017 – июнь 2018",
                        position: "web developer (full-stack)",
                        languages: "C#, JavaScript, TypeScript",
                        technologies: "ASP.NET, Vue.js/Vuex, Angular",
                        area: "Корпоративные приложения, CMS, интернет-магазины, лендинги",
                        image: "pqlab.jpg"
                    }
                ]
            }
        }
    }
</script>

<style lang="scss" scoped>
    .experience-item {
        margin-bottom: 20px;

        &-title {
            text-transform: uppercase;
            font-size: 1.2em;
            color: #332f2f;
            font-weight: 700;
            border-bottom: 1px solid #e6e6e6;
            transition: 0.2s;
            &:hover {
                border-bottom: 1px solid #9a9a9a;
                transition: 0.2s;
            }
        }
        &-info {
            margin-top: 10px;
            font-size: 1.05em;
            > div {
                margin-bottom: 5px;
            }
        }
    }
    img {
        margin-top: 10px;
        max-height: 60px;
    }
</style>