<template>
    <footer>
        <div class="footer-content">
            <div class="socials">
                <a href="https://vk.com/yaskarm" target="_blank">
                    <i class="fab fa-vk"></i>
                </a>
                <a href="https://instagram.com/marksevastyanov" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://facebook.com/sevastyanov" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://twitter.com/yaskarm" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="tg://resolve?domain=yaskarm" target="_blank">
                    <i class="fab fa-telegram"></i>
                </a>
            </div>
            <div class="contacts">
                tz.sevastyanov@gmail.com
            </div>
        </div>
        <div class="footer-copy">
            &copy Mark Sevastyanov, {{ new Date().getFullYear() }}
        </div>
    </footer>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style lang="scss" scoped>
    footer {
        margin-top: 60px;

        .footer-content {
            height: 300px;
            background-color: #141719;
            position: relative;
        }
        .footer-copy {
            text-align: center;
            color: #646363;
            padding: 10px;
            background-color: #121415;
        }
    }

    .socials {
        position: absolute;
        bottom: 45px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        a {
            color: #8c8c8c;
            font-size: 2em;
            margin: 0 10px;
            transition: 0.2s;

            &:hover {
                color: #f3f3f3;
                transition: 0.2s;
            }
        }
    }

    .contacts {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        text-align: center;
        color: #8c8c8c;
        font-size: 1.05em;
    }
</style>