<template>
    <header>
        <div id="main-title">
            <h1>
                Mark Sevastyanov
            </h1>
            <h2>
                Web Developer
            </h2>
            <fixed-header :threshold="350">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <template v-if="isHomePage">
                                <li class="nav-item active">
                                    <a @click="scrollTo('projects')" class="nav-link">
                                        Проекты
                                    </a>
                                </li>
                                <li class="nav-item active">
                                    <a @click="scrollTo('skills')" class="nav-link">
                                        Навыки
                                    </a>
                                </li>
                                <li class="nav-item active">
                                    <a @click="scrollTo('experience')" class="nav-link">
                                        Опыт
                                    </a>
                                </li>
                                <li class="nav-item active">
                                    <a @click="scrollTo('education')" class="nav-link">
                                        Образование
                                    </a>
                                </li>
                            </template>
                            <template v-else>
                                <li class="nav-item active">
                                    <router-link to="/" class="nav-link">
                                        На главную
                                    </router-link>
                                </li>
                            </template>
                        </ul>
                    </div>
                </nav>
            </fixed-header>
        </div>
    </header>
</template>

<script>
    import FixedHeader from 'vue-fixed-header'

    export default {
        components: {
            FixedHeader
        },
        computed: {
          isHomePage() {
              return this.$route.name === "home"
          }
        },
        methods: {
            scrollTo(id) {
                let element = document.getElementById(id);
                element.scrollIntoView({behavior: "smooth", block: "center", inline: "nearest"});
            }
        }
    }
</script>

<style lang="scss" scoped>
    header {
        position: relative;
        background-color: #232629;
        /*background-image: linear-gradient(to bottom right, #232629, #5a5a59);*/
        height: 80vh;
        display: flex;
        align-items: center;
        -webkit-box-shadow: 0px 3px 23px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 3px 23px -1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 3px 23px -1px rgba(0, 0, 0, 0.75);
        /*background-image: url(/images/bg1.png);*/
    }

    #main-title {
        text-align: center;
        text-transform: uppercase;
        flex: auto;
        color: #f3f3f3;

        h1 {
            font-size: 3.4em;
        }

        @media(max-width: 500px) {
            h1 {
                font-size: 2.6em;
            }
            h2 {
                font-size: 1.4em;
            }
        }
    }

    .navbar.vue-fixed-header--isFixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        background-color: #232629 !important;
    }

    nav {
        z-index: 100;
        padding: 3px 5px;
    }

    #navbarNav {
        justify-content: center;
    }

    .bg-dark {
        background-color: transparent !important;
    }

    .nav-link {
        color: #8c8c8c !important;
        transition: 0.2s;
        margin: 0 7px;
        padding: 5px 10px;

        &:hover {
            color: #f3f3f3 !important;
            transition: 0.2s;
        }
    }

    .navbar-toggler {
         border: none;
         outline: none !important;
         margin: 0 auto;
     }
</style>

