<template>
    <div>
        <Projects/>
        <Skills/>
        <Experience/>
        <Education/>
    </div>
</template>

<script>
    import Projects from "./Projects.vue"
    import Skills from "./Skills.vue"
    import Experience from "./Experience.vue"
    import Education from "./Education.vue"

    export default {
        components: {
            Projects,
            Skills,
            Experience,
            Education,
        }
    }
</script>

