<template>
    <main>
        <Header/>
        <div class="container-fluid">
            <router-view/>
        </div>
        <Footer/>
    </main>
</template>

<script>
    import Header from "./Header.vue"
    import Footer from "./Footer.vue"

    export default {
        components: {
            Header,
            Footer
        }
    }
</script>