<template>
    <div class="row">
        <div class="col-sm-4 offset-sm-4">
            <section id="projects">
                <h2 class="section-title">
                    <span>
                        Вход
                    </span>
                </h2>
                <form>
                    <div class="form-group">
                        <label for="login">Логин</label>
                        <input type="text" v-model="email" class="form-control" id="login">
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" v-model="password" class="form-control" id="password">
                    </div>
                    <p class="error" v-if="isErrorShow">
                        Некорректные данные
                    </p>
                    <div class="form-actions">
                        <a class="btn btn-primary" @click="login">
                            Войти
                        </a>
                    </div>
                </form>
            </section>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Login",
        data() {
            return {
                email: null,
                password: null,
                error: false,
                isErrorShow: false
            }
        },
        created: function () {

        },
        methods: {
            login() {
                this.isErrorShow = false
                var app = this
                this.$auth.login({
                    params: {
                        email: app.email,
                        password: app.password
                    },
                    success: function () {
                    },
                    error: function () {
                        app.isErrorShow = true
                    },
                    rememberMe: true,
                    redirect: '/admin',
                    fetchUser: true,
                });
            },
        }
    }
</script>

<style scoped>

</style>