<template>
    <div class="project-item">
        <div class="row">
            <div class="col-sm-5">
                <img :src="`${filesHostURL}/${project.cover}`" class="project-item-image"/>
            </div>
            <div class="col-sm-7">
                <div class="project-item-info">
                    <router-link :to="`/projects/${project.id}`" class="project-item-info-name">
                        {{ project.name }}
                    </router-link>
                    <p class="project-item-info-title">
                        {{ project.title }}
                    </p>
                    <p class="project-item-info-year">
                        {{ project.year }}
                    </p>
                    <!--<a class="btn btn-primary">-->
                        <!--Подробнее-->
                    <!--</a>-->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { filesServerURL } from '../../config';

    export default {
        name: "ProjectItem",
        props: {
            project: {
                type: Object,
                required: true
            }
        },
        computed: {
            filesHostURL() {
                return filesServerURL
            }
        }
    }
</script>

<style lang="scss" scoped>
    .project-item {
        margin-bottom: 20px;
        border: 1px solid #f1f1f1;
        border-radius: 1px;
        position: relative;

        @media (max-width: 500px) {
            text-align: center;
        }

        &-image {
            min-height: 100%;
            object-fit: cover;
        }

        &-info {
            position: relative;
            height: 100%;
            padding-bottom: 40px;

            &-name {
                text-transform: uppercase;
                font-size: 1.2em;
                color: #332f2f;
                font-weight: 700;
                border-bottom: 1px solid #e6e6e6;
                transition: 0.2s;
                &:hover {
                    border-bottom: 1px solid #9a9a9a;
                    transition: 0.2s;
                }
            }
            &-title {
                color: grey;
            }
            &-year {
                position: absolute;
                right: 0;
                bottom: 0;
                color: #9a9a9a;
                margin: 0;
                padding: 0 5px;
                font-size: 0.8em;
            }
        }
    }
    .btn {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
</style>