<template>
    <section>
        <h2 class="section-title">
            <span>
                {{ project.name }}
            </span>
        </h2>
        <div class="row">
            <div class="col-md-6">
                <div class="slider-wrapper">
                    <carousel v-if="project" :autoplay="true" :perPage="1">
                        <slide v-for="image in project.images">
                            <img :src="`${filesHostURL}/${image}`"
                                 class="project-item-image"/>
                        </slide>
                    </carousel>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info">
                    <p class="title">
                        {{ project.title }}
                    </p>
                    <div v-if="project.url" class="row">
                        <div class="col-sm-3">
                            URL:
                        </div>
                        <div class="col-sm-9">
                            <a :href="project.url" target="_blank" class="link">
                                {{ project.url }}
                            </a>
                        </div>
                    </div>
                    <div v-if="project.dev_period" class="row">
                        <div class="col-sm-3">
                            Период разработки:
                        </div>
                        <div class="col-sm-9">
                            {{ project.dev_period }}
                        </div>
                    </div>
                    <div v-if="project.technologies" class="row">
                        <div class="col-sm-3">
                            Технологии:
                        </div>
                        <div class="col-sm-9">
                            {{ project.technologies }}
                        </div>
                    </div>
                    <div v-if="project.description" class="row">
                        <div class="col-sm-3">
                            Описание:
                        </div>
                        <div class="col-sm-9">
                            {{ project.description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {filesServerURL} from '../../config';
    import {Carousel, Slide} from 'vue-carousel';

    export default {
        name: "ProjectInfo",
        props: {
            id: {
                type: String,
                required: true
            }
        },
        components: {
            Carousel,
            Slide
        },
        data() {
            return {};
        },
        computed: {
            filesHostURL() {
                return filesServerURL
            },
            project() {
                return this.$store.getters.getProjectById(this.id)
            }
        },
    }
</script>

<style lang="scss" scoped>
    .modal {
        &-dialog {
            max-width: 80%;
        }
        &-header {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
    .info {
        margin-top: 10px;
        font-size: 1.05em;
        > div {
            margin-bottom: 5px;
        }
    }
    .title {
        text-transform: uppercase;
        font-size: 1.2em;
        color: #332f2f;
        font-weight: 700;
    }
</style>