<template>
    <section id="projects">
        <h2 class="section-title">
            <span>
                Проекты
            </span>
        </h2>
        <div class="row">
            <div v-for="project in projects" class="col-md-4">
                <div class="project-item">
                    <ProjectItem :project="project" />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import { mapState } from 'vuex'
    import ProjectItem from "./ProjectItem.vue"

    export default {
        name: "Projects",
        components: {
            ProjectItem
        },
        computed: mapState({
            projects: state => state.projects.projects.sort((a, b) => a.sort - b.sort)
        }),
    }
</script>

<style lang="scss" scoped>

</style>