<template>
    <section id="skills">
        <h2 class="section-title">
            <span>
                Навыки
            </span>
        </h2>

        <div class="row">
            <div v-for="item in items" :key="item.id" class="col-sm-4">
                <div class="skill-item">
                    <a class="skill-item-title">
                        {{ item.section }}
                    </a>
                    <div class="skill-item-technologies">
                        <div v-for="tech in item.technologies" :key="tech.name">
                            <a :title="tech.name">
                                <img :src="`/images/technologies/${tech.image}`"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "Skills",
        data() {
            return {
                items: [
                    {
                        section: "Основной стек",
                        technologies: [
                            {
                                name: "ASP.NET",
                                image: "dotnetcore.png"
                            },
                            {
                                name: "C#",
                                image: "csharp.png"
                            },
                            {
                                name: "Angular",
                                image: "angular.svg"
                            },
                            {
                                name: "NgRx",
                                image: "ngrx.png"
                            },
                            {
                                name: "React.js",
                                image: "react.png"
                            },
                            {
                                name: "Redux",
                                image: "redux.png"
                            },
                            {
                                name: "TypeScript",
                                image: "ts.png"
                            },
                            {
                                name: "JavaScript",
                                image: "js.png"
                            },
                            {
                                name: "MS SQL Server",
                                image: "sqlserver.png"
                            },
                        ]
                    },
                    {
                        section: "Также владею",
                        technologies: [
                            {
                                name: "Laravel",
                                image: "laravel.png"
                            },
                            {
                                name: "Vue.js",
                                image: "vue.png"
                            },
                            {
                                name: "Node.js",
                                image: "node.png"
                            },
                            {
                                name: "Express.js",
                                image: "express.png"
                            },
                            {
                                name: "PHP",
                                image: "php.png"
                            },
                            {
                                name: "MySQL",
                                image: "mysql.png"
                            },
                            {
                                name: "MongoDB",
                                image: "mongo.png"
                            },
                            {
                                name: "WPF",
                                image: "wpf.png"
                            },
                        ]
                    },
                    {
                        section: "IDE и редакторы",
                        technologies: [
                            {
                                name: "Visual Studio",
                                image: "visualstudio.png"
                            },
                            {
                                name: "Visual Studio Code",
                                image: "vscode.png"
                            },
                            {
                                name: "PhpStorm",
                                image: "phpstorm.png"
                            },
                            {
                                name: "WebStorm",
                                image: "webstorm.png"
                            },
                            {
                                name: "Rider",
                                image: "rider.png"
                            },
                        ]
                    },
                ]
            }
        }
    }
</script>

<style lang="scss" scoped>
    .skill-item {
        &-title {
            text-transform: uppercase;
            font-size: 1.2em;
            color: #332f2f;
            font-weight: 700;
        }
        &-technologies {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;

            > div {
                margin-right: 3px;
                margin-bottom: 3px;
                border: 1px solid #f1f1f1;
                transition: 0.2s;

                &:hover {
                    border: 1px solid #d0d0d0;
                    transition: 0.2s;
                }
            }
        }
    }

    img {
        width: 80px;
        height: 80px;
        object-fit: contain;
        padding: 3px;

        @media(max-width: 500px) {
            width: 55px;
            height: 55px;
        }
    }
</style>