<template>
    <section>
        <h2 class="section-title">
            <span>
                Проекты
            </span>
        </h2>
        <div class="align-right">
            <router-link to="/admin/projects/new" class="btn btn-primary">
                <i class="fas fa-plus"></i>
            </router-link>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Название</th>
                    <th scope="col">Краткое описание</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(project, index) in projects" :key="project.id">
                    <th scope="row">
                        {{ index+1 }}
                    </th>
                    <td>
                        {{project.name }}
                    </td>
                    <td>
                        {{project.title }}
                    </td>
                    <td class="align-right">
                        <router-link :to="`/admin/projects/${project.id}`" class="btn btn-primary">
                            <i class="fas fa-pen"></i>
                        </router-link>
                        <button @click="itemToRemoveId = project.id" data-toggle="modal" data-target="#removeModal" class="btn btn-secondary">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <ConfirmDialog id="removeModal" title="Удалить?" @ok="deleteProject" />
        </div>
    </section>
</template>

<script>
    import { mapState } from 'vuex'
    import ConfirmDialog from '../ConfirmDialog.vue'

    export default {
        name: "Projects",
        components: {
            ConfirmDialog
        },
        data() {
            return {
                itemToRemoveId: ''
            }
        },
        computed: mapState ({
            projects: state => state.projects.projects.sort((a, b) => a.sort - b.sort)
        }),
        methods: {
            async deleteProject() {
                await this.$store.dispatch('deleteProject', this.itemToRemoveId)
            }
        }
    }
</script>

<style scoped>

</style>