<template>
    <section>
        <h2 class="section-title">
            <span>
                {{ id === 'new' ? 'Новый проект' : `Проект: ${project.name}` }}
            </span>
        </h2>
        <form ref="form">
            <div class="form-group">
                <label>Название*</label>
                <input v-model="project.name" type="text"
                       :class="`form-control ${validation.name ? '' : 'error'}`">
            </div>
            <div class="form-group">
                <label>URL</label>
                <input v-model="project.url" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Технологии</label>
                <input v-model="project.technologies" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Период разработки</label>
                <input v-model="project.dev_period" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Год*</label>
                <input v-model="project.year" type="number" :class="`form-control ${validation.year ? '' : 'error'}`">
            </div>
            <div class="form-group">
                <label>Краткое описание*</label>
                <textarea id="text-title" v-model="project.title" :class="`form-control ${validation.title ? '' : 'error'}`"></textarea>
            </div>
            <div class="form-group">
                <label>Описание</label>
                <textarea id="text-description" v-model="project.description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Позиция*</label>
                <input v-model="project.sort" type="number" :class="`form-control ${validation.sort ? '' : 'error'}`">
            </div>
            <div class="form-group">
                <label>Изображение</label>
                <div class="row">
                    <div class="col-sm-4">
                        <vue2Dropzone
                                ref="myVueDropzone"
                                id="dropzone"
                                :options.sync="dropzoneOptions"
                                @vdropzone-success="imageAdd"/>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div v-for="image in project.images" :key="image" class="col-sm-3">
                                <div class="image-wrapper">
                                    <a @click="removeFile(image)" class="btn btn-secondary">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                    <img @click="project.cover = image" :src="`${filesHostURL}/${image}`" :class="`${project.cover === image ? 'cover' : ''}`" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="align-right">
                <a @click="save" class="btn btn-primary">
                    Сохранить
                </a>
                <router-link to="/admin/projects" class="btn btn-secondary">
                    Назад
                </router-link>
            </div>
        </form>
    </section>
</template>

<script>
    import Vue from 'vue';
    import vue2Dropzone from 'vue2-dropzone'
    import { filesServerURL } from '../../../config';

    import "../../../styles/dropzone.css"

    export default {
        name: "ProjectEdit",
        components: {
            vue2Dropzone
        },
        props: {
            id: {
                type: String,
                required: true
            }
        },
        data() {
            return {
                dropzoneOptions: {
                    url: '/files',
                    thumbnailWidth: 150,
                    dictDefaultMessage: 'Нажмите сюда, чтобы загрузить изображения',
                    headers: { "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content') },
                    maxFiles: 20,
                },
                validation: {
                    name: true,
                    title: true,
                    year: true,
                    sort: true,
                }
            }
        },
        computed: {
            filesHostURL() {
                return filesServerURL
            },
            project() {
                return this.$store.getters.getProjectById(this.id)
            }
        },
        methods: {
            async save() {
                if (this.checkForm()) {
                    if (this.id === 'new') {
                        let res = await this.$store.dispatch('addProject', this.project);
                        if (res.status) {
                            this.$router.push('/admin/projects')
                        }
                    } else {
                        console.log('PROJECT', this.project)
                        let res = await this.$store.dispatch('updateProject', this.project);
                        console.log('RRR', res)
                        if (res.status) {
                            this.$router.push('/admin/projects')
                        }
                    }
                } else {

                    console.log('=((')
                }
            },
            checkForm() {
                this.validation.name = this.project.name;
                this.validation.title = this.project.title;
                this.validation.year = this.project.year;
                this.validation.sort = this.project.sort || this.project.sort === 0;
                return this.validation.name && this.validation.title && this.validation.year && this.validation.sort
            },
            imageAdd(file, response) {
                console.log('file-response', response)
                if (response.status === "success") {
                    let imagesLength = this.project.images.length;
                    this.project.images.push(response.content);
                    if (imagesLength === 0) {
                        this.project.cover = this.project.images[0]
                    }
                }
            },
            removeFile(file) {
                this.project.images = this.project.images.filter(f => f !== file)
            }
        }
    }
</script>
<style lang="scss" scoped>
    .error {
        border-color: #d40000;
    }
    img {
        height: 100px;
        object-fit: contain;
    }
    textarea {
        resize: none;
        &#text-title {
            height: 100px;
        }
        &#text-description {
            height: 200px;
        }
    }
    .image-wrapper {
        position: relative;

        button {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    img {
        border: 2px solid #fff;
        cursor: pointer;
        &.cover,
        &:hover {
            border: 2px solid #545a61;
        }
    }
</style>