body {
  background-color: #e6e6e6;
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
  &.link {
    color: #332f2f;
    border-bottom: 1px solid #e6e6e6;
    transition: 0.2s;
    &:hover {
      border-bottom: 1px solid #9a9a9a;
      transition: 0.2s;
    }
  }
}

img {
  max-width: 100%;
}

h2.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8em;
  color: #2f2f2f;
  margin-bottom: 30px;

  span {
    //background: linear-gradient(to bottom, white 70%, #fef3d8 30%);
  }
}

section {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 2px;
  padding: 10px 20px 30px 20px;
  -webkit-box-shadow: 0px 2px 11px -1px rgba(146, 146, 146, 0.75);
  -moz-box-shadow: 0px 2px 11px -1px rgba(146, 146, 146, 0.75);
  box-shadow: 0px 2px 11px -1px rgba(146, 146, 146, 0.75);
}

.modal {
  &-content {
    border-radius: 2px;
  }
}

.align-right {
  text-align: right;
}

.btn {
  text-transform: uppercase;
  border: none;
  border-radius: 1px;
  -webkit-box-shadow: none !important;
  box-shadow: 0px 2px 8px -1px rgba(146, 146, 146, 0.75) !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .btn.btn-primary, .show > .btn-primary.dropdown-toggle {
  background-color: #545a61;
  color: #fff !important;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .btn.btn-secondary, .show > .btn-secondary.dropdown-toggle {
  background-color: #eaeaea;
  color: #545a61 !important;
}

.table {
  margin-top: 10px;

  td, th {
    vertical-align: middle;
    padding: 5px 10px;
  }

  thead th {
    border-bottom: none !important;
  }

  &-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(245, 245, 245);
  }
}

.form {
  &-group {
    label {
      margin-bottom: 2px;
    }
  }
  &-control {
    box-shadow: none !important;
    border-radius: 1px;
  }
}
.VueCarousel-pagination {
  display: none !important;
}
.slider-wrapper {
  min-height: 250px;
  position: relative;
}
//.VueCarousel-inner {
//  height: 100px !important;
//}